.root{
-fx-background:"black"; //#000000

}

.label{
-fx-font-size:20;
-fx-font-family: "Lucida Console";
-fx-text-fill: "white";
-fx-alignment: center;
}

#titleLabel{
-fx-font-size:40;

}